# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
uploads/
temp_*.jpg
temp_*.png
*.db
*.sqlite3
.DS_Store

# Node.js / Frontend
frontend/node_modules/
frontend/.env
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDE / OS
.vscode/
.idea/
Thumbs.db
desktop.ini

# Backend temporary uploads
backend/uploads/
backend/temp_ela_frame.jpg
backend/temp_img.jpg
backend/__pycache__/